@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;500&display=swap');
@import url('./reset.css');
@import url('./animations.css');

body {
  position: relative;
}

main {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

header {
  padding: 1.5em 1em 3em;
  margin-bottom: 2em;
  background-color: rgb(240, 200, 100);
  color: rgb(40, 42, 48);
  text-align: center;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

header h1 {
  margin-bottom: .5em;
}

header em {
  color: rgb(120, 140, 120);
  font-style: normal;
}

header em::before {
  content: '~ ';
}

.loader,
.error {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader > div,
.error > div {
  box-sizing: border-box;
  padding: 2em;
  color: white;
  border-radius: .5em;
  font-size: 1.2em;
  max-width: 75%;
  text-align: center;
}

.loader > div {
  background-color: rgb(90, 92, 98);
  animation: heartbeat 2s infinite;
}

.error > div {
  background-color: rgb(170, 40, 20);
}

h2 {
  position: relative;
  color: white;
  margin-bottom: 1em;
  font-size: 1.4em;
}

h2 > span {
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .75;
}

table {
  margin-bottom: 1em;
  border-spacing: 0;
  overflow-x: scroll;
  border-bottom: 1px solid rgb(90, 92, 98);
}

th, td {
  padding: .5em 1em;
  text-align: left;
}

th {
  background-color: rgb(90, 92, 98);
}

th.first,
td.first {
  border-left: 1px solid rgb(240, 200, 100);;
  min-width: 66px;
}

td:first-child {
  min-width: 66px;
}

td {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgb(50, 52, 58);
  border-top: 1px solid rgb(90, 92, 98);
}

thead tr:first-child th {
  padding-bottom: 0;
  color: rgb(240, 200, 100);
  font-size: larger;
}

td:first-child {
  border-left: 1px solid rgb(90, 92, 98);
}

td:last-child {
  border-right: 1px solid rgb(90, 92, 98);
}

td span {
  padding-right: 4px;
  color: rgb(140, 160, 140);
}

tr[data-today] td {
  background-color: rgb(50, 50, 80);
}

form {
  padding: 2em 1em;
  background-color: rgb(90, 92, 98);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

form,
form > div {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

form {
  gap: 1em;
}

label {
  display: block;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: .5em;
}

input, form button {
  border-radius: .5em;
  border: none;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}

form button {
  height: 3em;
  background-color: rgb(50, 50, 80);
  color: white;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.2em;;
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

form button:hover,
form button:focus {
  background-color: rgb(30, 30, 60);
}

.scroll-wrapper {
  overflow: auto;
}

.pass-data {
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  overflow: hidden;
  opacity: 1;
}

.pass-data.is-hidden {
  height: 0px;
  width: 0px;
  opacity: 0;
}

.pass-data h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.8em;
  color: white;
}

.pass-data__info {
  padding: 1em;
  background-color: rgb(50, 52, 58);
  border-radius: .5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.pass-data__info em {
  padding-left: .5em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.05em;
  color: rgb(140, 160, 140);
}

.source {
  display: block;
  text-align: center;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  opacity: .75;
}

.source a {
  text-decoration: underline;
  color: rgb(240, 200, 100);
}

nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -4em;
  margin-left: -1em;
  margin-right: -1em;
  border-bottom: 1px solid rgb(240, 200, 100);
}

nav button {
  appearance: none;
  padding: 0 1em;
  border: none;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: .9em;
  height: 2.8em;
  background-color: rgb(50, 50, 80);
  color: rgb(240, 200, 100);
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-left: 1px solid rgb(240, 200, 100);
}

nav button:first-child {
  border-left: none;
  border-top-left-radius: .5em;
}

nav button:last-child {
  border-top-right-radius: .5em;
}

nav button.is-current {
  background-color: rgb(140, 160, 140);
  color: rgb(40, 42, 48);
}

.reset {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  margin-left: -1em;
  margin-right: -1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(240, 200, 100);
}

.reset button {
  box-sizing: border-box;
  appearance: none;
  border: none;
  padding: 0 1em;
  min-width: 35%;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  height: 3em;
  border-radius: .5em;
  background-color: rgb(50, 50, 80);
  color: white;
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.reset button:hover,
.reset button:focus {
  background-color: rgb(30, 30, 60);
}

.reset button:last-child {
  background-color: rgb(170, 40, 20);
}
